/* ######################################################################################################
** # "Yet Another Multicolum Layout" (c) by Dirk Jesse (http://www.yaml.de) #############################
** # "YAML for TYPO3" (c) by Dieter Bunkerd (http://yaml.t3net.de) ######################################
** ######################################################################################################
**
**  Datei       : typo3-RTE.css
**  Funktion    : Formatierung der Inhalte im RTE, wird in den layout*.css files importiert.
**  Checked with http://jigsaw.w3.org/css-validator/ 13.8.07 - DB
*/
/* Avoid borders around images in the RTE */
img {border:0;}
/* #############################
** ### classesParagraph ########
** #############################
*/
p.smalltext {font-size:0.9em;}
p.greenbox {background-color:#dfd; border:1px #bdb solid; padding:1em;}
p.yellowbox {background:#ffd; border:1px #ddb solid; padding:1em;}
p.redbox {background-color:#fdd; border:1px #dbb solid; padding:1em;}
p.code {font-family:"Courier New", Courier, monospace; font-size:0.9em; padding:1em; background:#f0f0f4; border:1px #ccd solid;}
p.note {background:#dfd; padding: 1em; border-bottom: 1px #bdb dotted;}
p.important {background:#ffd; padding:1em; border-bottom:1px #ddb dotted;}
p.warning {background:#fdd; padding:1em; border-bottom:1px #dbb dotted;}
p.info {background:#f7f7ef url(../../img/icons/ausrufez-blau.gif) 10px 10px no-repeat; padding:1.5em 1.5em 1.5em 4em;}
p.frage {background:#A43F15 url(../../img/icons/fragez-blau.gif) 10px 10px no-repeat; color:#fff; padding:1.5em 1.5em 1.5em 4em;}
p.stop {background:#fff url(../../img/icons/stop.gif) 10px 10px no-repeat; padding:1.5em 1.5em 1.5em 4em; border:1px solid #a43f15;}
p.zitat {background:#fff url(../../img/icons/sprechblase.gif) 10px 10px no-repeat; color:#187ba2; padding:1.5em 1.5em 1.5em 4em; border:1px solid #187ba2; font-style:italic;}
/* #############################
** ### classesCharacter ########
** #############################
*/
span.mono {font-family:"Courier New", Courier, monospace; padding:0 0.3em 0 0.3em; background:#f0f0f4; border:1px #ccd solid;}
span.file {font-family:"Courier New", Courier, monospace;	padding:0 0 0 14px; color:#000088; background:transparent url('../../img/icons/file.gif') no-repeat left;}
span.directory {font-family:"Courier New", Courier, monospace; padding:0 0 0 15px; color:#000088; background:transparent url('../../img/icons/dir.gif') no-repeat left;}
span.orangeBackground {background:#FEC216;}
span.infoHeadline {display:block; color:#187ba2; text-transform:uppercase; font-weight:bold; border-bottom:2px solid white; padding-bottom:0.5em; margin-bottom:-1em; margin-left:-4em; padding-left:4em; margin-right:-1.5em;}
span.frageHeadline {display:block; color:#fff; text-transform:uppercase; font-weight:bold; border-bottom:2px solid white; padding-bottom:0.5em; margin-bottom:-1em; margin-left:-4em; padding-left:4em; margin-right:-1.5em;}
span.stopHeadline {display:block; color:#A43F15; text-transform:uppercase; font-weight:bold; padding-bottom:0.5em; margin-bottom:-1em;}
/* #############################
** ### TagFreeClasses ##########
** #############################
*/
