@charset "UTF-8";
/* ###############################################################
** # Unibe Design (c) by Michael Rolli (http://www.iml.unibe.ch) #
** # basierend auf YAML (http://www.yaml.de)                     #
** ###############################################################
**
**  Dateiversion: $Id$
**  Datei       : css/screen/basemod_inst_med.css
**  Funktion    : Stylesheet für Institute der Medizinischen Fakultät
**
*/

@media all
{

/* Formatierung des Institutsnamens */
#identityText { /* width: 28em; */ background-color: #dd3601; }
#identityText h1 { color: #ffffff; }

/* Formatierung der Content Box */
#col3 { background-color: #bdcbd3; }
#col3_content { background-color: #e8e8eb; }

}