@charset "UTF-8";
/* ###############################################################
** # Unibe Design (c) by Michael Rolli (http://www.iml.unibe.ch) #
** # basierend auf YAML (http://www.yaml.de)                     #
** ###############################################################
**
**  Dateiversion: $Id$
**  Datei       : typo3/css/contenttable.css
**  Funktion    : Stile für Content Element table
**
*/

@media all
{

/* contenttable-0: formlos                   */
/* contenttable-1: Zebra mit Rubriken        */
/* contenttable-2: Zebra ohne Rubriken       */
/* contenttable-3: Infotabelle mit Rubriken  */
/* contenttable-4: Infotabelle ohne Rubriken */
.contenttable { margin: 0em; }
.contenttable-1, .contenttable-2,
.contenttable-3, .contenttable-4 { background-color: #ffffff; }
.contenttable-1 .tr-even, .contenttable-2 .tr-even { background-color: #dddddd; }
.contenttable-1 .tr-0, .contenttable-3 .tr-0 { font-weight: bold; }
.contenttable td { font-size: 1.05em; margin: 0em; padding: 0.3em; }

}
