@charset "UTF-8";
/* ###############################################################
** # Unibe Design (c) by Michael Rolli (http://www.iml.unibe.ch) #
** # basierend auf YAML (http://www.yaml.de)                     #
** ###############################################################
**
**  Dateiversion: $Id$
**  Datei       : typo3/css/csc-menu.css
**  Funktion    : Stile für Content Element menu
**
*/

@media all
{

/* csc-def: Menu of these pages */
/* csc-menu-1: Menu of subpage to these pages */
/* csc-menu-2: Sitemap */
/* csc-menu-3: Section Index (pagecontent w/Index checked) */
/* csc-menu-4: Menu of subpage to these pages (with abstracts) */
/* csc-menu-5: Recently updated pages */
/* csc-menu-6: Related Pages (based on keywords) */
/* csc-menu-7: Menu of subpage to these pages + sections */
.csc-menu { margin: 0; list-style-image: url(../../images/icon_link.gif); }
.csc-menu a { color: #000000; text-decoration: none; }
.csc-menu a:hover { color: #ff0033; text-decoration: underline; }
.csc-menu-7 ul { margin-top: 0em; }

.csc-sitemap li { list-style-image: url(../../images/icon_link.gif); }
.csc-sitemap a { color: #000000; text-decoration: none; }
.csc-sitemap a:hover { color: #ff0033; text-decoration: underline; }

/* first level */
.csc-sitemap ul { margin: 0em; }
.csc-sitemap ul li { font-weight: bold; margin-bottom: 1.5em; }
.csc-sitemap ul li a { font-size: 1.1em; } 

/* second level */
.csc-sitemap ul ul li { font-weight: normal; margin-bottom: 0em; }
.csc-sitemap ul ul li a { font-size: 100%; }

/* third level */
.csc-sitemap ul ul ul li a { font-size: 90%; }
 
/* fourth level */
.csc-sitemap ul ul ul ul li a { font-size: 80%; line-height: 1.6em; }

}
