@charset "UTF-8";
/* ###############################################################
** # Unibe Design (c) by Michael Rolli (http://www.iml.unibe.ch) #
** # basierend auf YAML (http://www.yaml.de)                     #
** ###############################################################
**
**  Dateiversion: 12.02.07
**  Datei       : typo3/csc-mailform.css
**  Funktion    : Stile für Content Element mailform
**
*/

@media all
{

fieldset.csc-mailform { margin-left: 1em; margin-right: 1em; border: 0.1em solid #999999; padding: 0.5em; }
.csc-mailform-field { margin-bottom: 0.5em; }
.csc-mailform-field input[type^="radio"] { margin: 0.2em 0.3em 0.2em 0em; }
.csc-mailform-field fieldset legend { display: none; }
.csc-mailform-field fieldset label { display: inline; margin: 0.2em 1em 0.2em 0em; }
.csc-mailform-field label { display: block; }

}