@charset "UTF-8";
/* ################################################################
** # Unibe Design (c) by Michael Rolli (http: //www.iml.unibe.ch) #
** # basierend auf YAML (http: //www.yaml.de)                     #
** ################################################################
**
**  Dateiversion: $Id$
**  Datei       : typo3/css/textpic.css
**  Funktion    : Stile für Content Element text/pic
**
*/

@media all
{ 

/* Resetting rules */
div.csc-textpic dl, div.csc-textpic dd { margin: 0; padding: 0; }
div.csc-textpic p { margin-top: 0 !important; margin-bottom: 1.3em !important; }
div.csc-textpic-intext-left-nowrap div.csc-textpic-text h2, div.csc-textpic-intext-right-nowrap div.csc-textpic-text h2 { margin-top: 0 !important }

div.csc-textpic { margin-top: 0.5em; }



/* Multi image rows settings: */
/* Needed for noRows setting */
div.csc-textpic div.csc-textpic-imagecolumn { float: left; display: inline; }
/* Border just around the image */
div.csc-textpic-border div.csc-textpic-imagewrap .csc-textpic-image img { border: 2px solid black; padding: 0 0; }
div.csc-textpic-imagewrap { padding: 0; }
div.csc-textpic img { border: none; }
/* div: This will place the images side by side */
div.csc-textpic div.csc-textpic-imagewrap div.csc-textpic-image { float: left; }
/* ul: This will place the images side by side */
div.csc-textpic div.csc-textpic-imagewrap ul { list-style: none; margin: 0; padding: 0; }
div.csc-textpic div.csc-textpic-imagewrap ul li { float: left; margin: 0; padding: 0; }
/* dl: This will place the images side by side */
div.csc-textpic div.csc-textpic-imagewrap dl.csc-textpic-image { float: left; }
div.csc-textpic div.csc-textpic-imagewrap dl.csc-textpic-image dt { float: none; }
div.csc-textpic div.csc-textpic-imagewrap dl.csc-textpic-image dd { float: none; }
div.csc-textpic div.csc-textpic-imagewrap dl.csc-textpic-image dd img { border: none; } /* FE-Editing Icons */
dl.csc-textpic-image { margin: 0; }
dl.csc-textpic-image dt { margin: 0; display: inline; }
dl.csc-textpic-image dd { margin: 0; }





/* Margins around images: */
/* Pictures on left, add margin on right */
div.csc-textpic-left div.csc-textpic-imagewrap .csc-textpic-image,
div.csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap .csc-textpic-image,
div.csc-textpic-intext-left div.csc-textpic-imagewrap .csc-textpic-image { 
    display: inline; /* IE fix for double-margin bug */
    margin-right: 1em;
}
/* Pictures centered, add margin on left */
div.csc-textpic-center div.csc-textpic-imagewrap .csc-textpic-image { 
    display: inline; /* IE fix for double-margin bug */
    margin-left: 1em;
}
div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption { margin: 0; }
div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-image img { margin: 0; }
/* Space below each image (also in-between rows) */
div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 0.5em; }
div.csc-textpic-equalheight div.csc-textpic-imagerow { margin-bottom: 0.5em; display: block; }
div.csc-textpic div.csc-textpic-imagerow { clear: both; }
/* No margins around the whole image-block */
div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-firstcol { margin-left: 0 !important; }
div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-lastcol { margin-right: 0 !important; }
/* Add margin from image-block to text (in case of "Text w/ images") */
div.csc-textpic-intext-left div.csc-textpic-imagewrap,
div.csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap { 
    margin-right: 1em !important;
}
div.csc-textpic-intext-right div.csc-textpic-imagewrap,
div.csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap { 
    margin-left: 1em !important;
}



/* Positioning of images: */
/* Center (above or below) */
div.csc-textpic-center { text-align: center; /* IE-hack */ }
div.csc-textpic-center div.csc-textpic-imagewrap { margin: 0 auto; overflow: hidden; }
div.csc-textpic-center div.csc-textpic-imagewrap .csc-textpic-image { text-align: left; /* Remove IE-hack */ }
div.csc-textpic-center div.csc-textpic-text { text-align: left; /* Remove IE-hack */ }
/* Right (above or below) */
div.csc-textpic-right div.csc-textpic-imagewrap { float: right; }
div.csc-textpic-right div.csc-textpic-text { clear: right; }
/* Left (above or below) */
div.csc-textpic-left div.csc-textpic-imagewrap { float: left; }
div.csc-textpic-left div.csc-textpic-text { clear: left; }
/* Left (in text) */
div.csc-textpic-intext-left div.csc-textpic-imagewrap { float: left; }
/* Right (in text) */
div.csc-textpic-intext-right div.csc-textpic-imagewrap { float: right; }
/* Right (in text, no wrap around) */
div.csc-textpic-intext-right-nowrap div.csc-textpic-imagewrap { float: right; }
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html div.csc-textpic-intext-right-nowrap .csc-textpic-text { height: 1%; }
/* End hide from IE5/mac */
/* Left (in text, no wrap around) */
div.csc-textpic-intext-left-nowrap div.csc-textpic-imagewrap { float: left; }
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html div.csc-textpic-intext-left-nowrap .csc-textpic-text { height: 1%; }
/* End hide from IE5/mac */



/* Captions */
div.csc-textpic-caption-c .csc-textpic-caption { text-align: center; }
div.csc-textpic-caption-r .csc-textpic-caption { text-align: right; }
div.csc-textpic-caption-l .csc-textpic-caption { text-align: left; }

}
