@charset "UTF-8";
/* ###############################################################
** # Unibe Design (c) by Michael Rolli (http://www.iml.unibe.ch) #
** # basierend auf YAML (http://www.yaml.de)                     #
** ###############################################################
**
**  Dateiversion: $Id$
**  Datei       : css/print/print.css
**  Funktion    : Stile für Print Version
**
*/


@media print
{


body * { font-size: 9pt; }
#page_margins { width: 100% ! important; }
code.css, code.xhtml, em.file { font-family:"Courier New", Courier, mono;}

#col3_content h2 {font-size: 10pt; font-weight:bold; color: #666666; background: inherit; margin:0.2em 0 0.5em 0; }
#col3_content h3 {font-size: 9pt; font-weight:bold; margin:0.4em 0 0.3em 0;}
input { display: none; }



/* Vermeidung von Seitenumbrüchen direkt nach einer Überschrift */
h1,h2,h3 { page-break-after:avoid; }

abbr[title]:after, acronym[title]:after { content: '(' attr(title) ')'; }



/* Sichtbare Auszeichnung der URLs von Links */
#col3_content a {
    color: #666666;
    text-decoration: none;
}

#col3_content a[href^="http"]:after {
    content:"<URL: "attr(href)">";
    color:#444444;
    background-color:inherit;
    font-style:italic;
}



/* Umformatierung der Layoutboxen */
body {margin:0; padding: 0;}
#page_margins, #page { min-width: inherit; margin:0; padding: 0; border: 0; }
#topnav { display: none; }

#header { display: none; }
#nav { height: 10em; }
div#breadcrumb, div#globalnav, div#metanav, div#identity_image { display: none; }
div#identityText { padding-top: 0.5em; }
div#identityText h1 { font-size: 10pt; margin: 0; width: 15em;}
div#identityText h1:after { content:" Universität Bern" }
div#identity div#identity #titelbild { display: none; }

#teaser { margin: 1em 0 0 0; padding: 0; border:0; }

#main { margin: 0; padding: 0; }

#col1 { display:none; }
#col1_content { display:none; }

#col2 {display:none;}
#col2_content { display:none; }

#col3 { margin:0; padding: 0; border:0; background-color: #ffffff; }
#col3_content { margin:0; padding: 0; border:0; background-color: #ffffff; }
#col3_content h1 { 
    font-size: 16pt;
    font-weight: bold; 
    color: #666666;
    background: inherit; 
    border-bottom: 1px #aaaaaa solid;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
}

#adressfuss { display: none; }
#footer { display: none; }
#unilogo { top: 0em;  }
#unilogo img { width: 8.3em; height: 6.2em; }

// extension specific
.tx_imlstaffmgr_portrait_image img { width: 180em; }
div#tx_imlstaffmgr_portrait table.presence td.anwesend:before { content:"X"; }
div.csc-textpic-intext-left-nowrap dl { width: auto !important; }
div.csc-textpic-intext-left-nowrap div.csc-textpic-text { padding-left: 10px; }

}
